@use "sass:map";
@import 'pages/Style/variable.scss';

.create-form-container {
  #create-nft {
    padding: 70px;
    background: rgba(255, 255, 255, 0.822);
    border: 1px solid rgba(242, 201, 76, 0.3);
    box-sizing: border-box;
    border-radius: 10px;
  }
  #create-nft_numberOfIssuing {
    text-align: center;
  }
  .ctn-btn-front-back-image {
    display: flex;
    text-align: center;
    margin-bottom: 20px;
    .front-button {
      width: 50%;
      border-radius: 30px 0 0 30px;
    }
    .back-button {
      width: 50%;
      border-radius: 0 30px 30px 0;
    }
    .activated {
      background-image: map-get($background-image, 'gradient');
      color: map-get($text-colors, 'color-3');
      &:hover {
        color: map-get($text-colors, 'color-3');
      }
      --antd-wave-shadow-color: map-get($text-colors, 'color-3');
    }
    .unactivated {
      border: 1px solid map-get($border-colors, 'main');
      color: map-get($text-colors, 'main');
      background: white;
      &:hover {
        color: map-get($text-colors, 'main');
      }
      --antd-wave-shadow-color: map-get($text-colors, 'main');
    }
    .btn-choose-type-img {
      padding: 16px 10px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 10px;
    }
  }
  .ant-upload.ant-upload-drag {
    border-radius: 15px;
    background: transparent;
    .ant-upload-btn {
      min-height: 230px;
    }
  }
  .nft-message-length {
    text-align: right;
  }
  .nft-remove {
    cursor: pointer;
    display: flex;
    position: absolute;
    right: 0;
    top: 14px;
    @media screen and (min-width: 768px) {
      right: -20px;
    }
  }
  .nft-addMore {
    color: map-get($text-colors, 'color-1');
    cursor: pointer;
  }
  .nft-fullWidth {
    margin-bottom: 10px;
    max-width: 95%;
    @media screen and (min-width: 768px) {
      max-width: 100%;
    }
  }
  .nft-wrapBtn {
    text-align: left;
    display: flex;
    margin-top: 20px;
  }
}
